node_modules
.next
dist
.env
.env.local
.turbo
.DS_Store
.worktrees
.vercel
.env*.local

# AI agent tools
skills/
prpm.lock

# AI agent configs
.adal/
.agent/
.agents/
.augment/
.claude/
.cline/
.codebuddy/
.commandcode/
.continue/
.crush/
.cursor/
.factory/
.goose/
.iflow/
.junie/
.kilocode/
.kiro/
.kode/
.mcpjam/
.mux/
.neovate/
.openhands/
.pi/
.pochi/
.qoder/
.qwen/
.roo/
.trae/
.vibe/
.windsurf/
.zencoder/
